<div class = "product">
<p><%= product.Price %>s </p>

<% if product.image.present? %>

<div class="card-image">
  <figure class="image is-4by3">
  <%= image_tag url_for(product.image)%>
  </figure>
</div>
<% end %>