 <h1 class="title is-3"><%= link_to product.ProductName, controller: "product", action: "show", id: product.id %> </h1>

<% if product.image.present? %>

<div class="card-image">
  <%= image_tag(product.image.variant(resize: "500x500"), alt: "Image")%>
  </div>
<% end %>
