<div class = "product">
<h1><%= product.ProductName%></h1>
<p>$<%= product.Price %></p>

<% if product.image.present? %>

<div class="card-image">
  <figure class="image is-4by3">
  <%= image_tag url_for(product.image)%>
  </figure>
</div>
<% end %>